@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* цвет основного текста #212121  */
/* вторичный цвет  текста #757575 */
/* белый #ffffff */
/* акцент #2196F3 */
/* вторичный цвет фона #2f303a */
/* Стили для index.html */
:root {
  --main-color: #212121;
  --secondary-color: #757575;
  --acent-color: #2196f3;
  --white-color: #ffffff;
  --secondary-color-fon: #2f303a;
  --main-section-color: #f5f4fa;
  --indent-set-gup: 30px;
  --cubic-bazier: cubic-bezier(0.4, 0, 0.2, 1);
}

/* тело */
body {
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
  color: var(--main-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

body.modal-open {
  overflow: hidden;
}

/* reset */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Прячит чекбокс */
.visualy-hidden {
  appearance: none;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }
}

.line-bottom {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -1;
  width: 100%;
  border-bottom: 1px solid #ececec;
}

.footer-join__title, .footer-subscribe__title {
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.header-nav, .feature__icon, .work-list, .work-annexes__text, .clients-list, .clients__link, .social-network, .social-networklink, .mob-social, .join-social, .subscribe-form, .portfolio-filter, .portfolio-content, .modal-btn, .modal-form__policy, .modal-form__item-check {
  display: flex;
}

.site-nav__link, .mobile-menu__link, .header-contacts__link, .mobile-contacts__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--main-color);
  transition: color 250ms var(--cubic-bazier);
}

.site-nav__link:hover, .mobile-menu__link:hover, .header-contacts__link:hover, .mobile-contacts__link:hover, .site-nav__link:focus, .mobile-menu__link:focus, .header-contacts__link:focus, .mobile-contacts__link:focus {
  color: var(--acent-color);
}

.filter-btn, .send-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #f5f4fa;
  cursor: pointer;
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px solid transparent;
  transition: background-color 250ms var(--cubic-bazier), color 250ms var(--cubic-bazier);
}

.filter-btn.active, .send-btn.active {
  color: var(--white-color);
  background-color: var(--acent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: var(--acent-color);
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-header--color {
  color: #000000;
}

.footer-logo {
  margin-bottom: 20px;
}

.logo-footer--color {
  color: var(--white-color);
}

/* page-header */
.header {
  position: relative;
}

.header-nav {
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}

@media screen and (max-width: 767px) {
  .site-container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .site-container {
    margin-left: 93px;
  }
}

.menu-toggle {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--acent-color);
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 10px 48px 40px;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 250ms var(--cubic-bazier);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.menu-container.is-open {
  transform: translateX(0);
}

.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

/* header Site-nav */
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

.site-nav__item:nth-child(n + 2) {
  margin-left: 50px;
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link--active {
    position: relative;
  }
  .site-nav__link--active::after {
    content: '';
    background-color: var(--acent-color);
    height: 4px;
    width: 100%;
    display: flex;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

/* header mobile-menu */
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu__link--active {
  color: var(--acent-color);
}

/* header-contacts */
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:nth-child(n + 2) {
    margin-left: 30px;
  }
}

.header-contacts__link {
  display: inline-flex;
  align-items: center;
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .header-contacts__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.header-icon__button {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .header-icon__button {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .header-icon__button {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .header-icon__button.width {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-icon__button.width {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .header-icon__button.height {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .header-icon__button.height {
    width: 10px;
    height: 16px;
  }
}

.mobile-contacts__item:first-child {
  margin-bottom: 32px;
}

.mobile-contacts__item:last-child {
  margin-bottom: 64px;
}

.mobile-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.mobile-contacts__link--active {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--acent-color);
}

/* HERO */
.hero {
  margin: 0 auto;
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--secondary-color-fon);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mob/hero-mob.jpg);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mob/hero-mob2x.jpg");
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-color: var(--secondary-color-fon);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tab/hero-tab.jpg);
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tab/hero-tab2x.jpg");
  }
}

@media screen and (min-width: 769px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--secondary-color-fon);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero2x.jpg");
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  min-height: 50px;
  color: var(--white-color);
  background-color: var(--acent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
}

/* Feature */
.feature-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.feature__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .feature__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.feature__icon {
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--main-section-color);
  border-radius: 4px;
}

.feature-icon {
  width: 70px;
  height: 70px;
}

.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

.feature__text {
  line-height: 1.71;
  color: var(--secondary-color);
}

/* WORK */
.work {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__title {
  margin-bottom: 50px;
}

.work-list__item:nth-child(n + 2) {
  margin-left: 30px;
}

.work-annexes {
  position: relative;
}

.work-annexes__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--white-color);
  align-items: center;
  justify-content: center;
  line-height: 1.14;
  text-transform: uppercase;
  font-weight: bold;
}

/* Команда разработчиков */
.command {
  background-color: var(--main-section-color);
}

.command-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .command-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.command__item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .command__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .command__item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.command-content {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .command-content {
    padding-bottom: 30px;
  }
}

.command__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.command__skills {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

/* Постоянные клиенты clients */
.clients__title, .command__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title, .command__title {
    margin-bottom: 50px;
  }
}

.clients-list {
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.clients__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__link {
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms var(--cubic-bazier);
}

.clients__link:hover, .clients__link:focus {
  color: var(--acent-color);
  border: 1px solid var(--acent-color);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.social-network {
  flex-wrap: wrap;
  justify-content: center;
}

.social-network__item + .social-network__item {
  margin-left: 10px;
}

.social-networklink {
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  border-radius: 50%;
  transition: fill 250ms var(--cubic-bazier), background-color 250ms var(--cubic-bazier);
}

.social-networklink:hover, .social-networklink:focus {
  fill: var(--white-color);
  background-color: var(--acent-color);
}

.social-network__icon {
  width: 20px;
  height: 20px;
}

.social-networklink--grey {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);
}

.mob-social {
  flex-wrap: wrap;
  margin-left: -10px;
}

.mob-socail__link {
  text-decoration: none;
  color: var(--acent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  padding-left: 10px;
}

.mob-socail__link--reset {
  padding: 0;
  border: none;
}

/* FOOTER */
.footer {
  background: var(--secondary-color-fon);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-contact-join {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    width: 231px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-contacts {
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer-address__item {
  margin-bottom: 8px;
}

.footer-address__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .footer-address__item {
    margin-bottom: 9px;
  }
}

.footer-address__link {
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
  color: var(--white-color);
  transition: color 250ms var(--cubic-bazier);
}

.footer-address__link:hover, .footer-address__link:focus {
  color: var(--acent-color);
}

.footer-address__link--grey {
  color: rgba(255, 255, 255, 0.6);
}

/* присоиденяйтесь */
@media screen and (min-width: 1200px) {
  .footer-join {
    width: 206px;
    height: 80px;
    margin-left: 70px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-join {
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer-join__title {
  margin-bottom: 20px;
}

.join-social {
  justify-content: center;
}

/* Подпишитесь */
@media screen and (max-width: 1199px) {
  .footer-subscribe {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe {
    width: 570px;
    margin-left: 93px;
  }
}

.footer-subscribe__title {
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .subscribe-form {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    justify-content: space-between;
  }
}

.subscribe-form__mail {
  height: 50px;
  width: 100%;
  background-color: var(--secondary-color-fon);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.subscribe-form__mail:focus {
  outline: none;
}

@media screen and (max-width: 1199px) {
  .subscribe-form__mail {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-form__mail {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__mail {
    width: 358px;
  }
}

.subscribe-form__btn {
  position: relative;
  padding-left: 29px;
  text-align: left;
  width: 200px;
}

@media screen and (max-width: 1199px) {
  .subscribe-form__btn {
    margin: 0 auto;
  }
}

.subscribe-form__svg {
  position: absolute;
  top: 13px;
  right: 28px;
}

/* Portfolio */
/* Фильтра */
.portfolio-filter_margin {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio-filter_margin {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-filter_margin {
    margin-bottom: 50px;
  }
}

.portfolio-filter {
  flex-wrap: wrap;
  margin-left: -8px;
  margin-bottom: -15px;
}

@media screen and (min-width: 768px) {
  .portfolio-filter {
    justify-content: center;
  }
}

.portfolio-filter__item {
  margin-left: 8px;
  margin-bottom: 15px;
}

.filter-btn:hover, .filter-btn:focus {
  color: var(--white-color);
  background-color: var(--acent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Контент */
@media screen and (min-width: 768px) {
  .portfolio__container {
    padding-left: 0;
    padding-right: 0;
  }
}

.portfolio-content {
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-content__list {
  flex-basis: calc( 100% / 3 - var(--indent-set-gup));
  margin-left: var(--indent-set-gup);
  margin-bottom: var(--indent-set-gup);
}

.portfolio-content__list:nth-child(3n + 1) {
  margin-left: 0;
}

.portfolio-content__list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.content-card {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms var(--cubic-bazier);
}

.content-card:hover, .content-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content-card__image {
  position: relative;
  overflow: hidden;
}

.content-card__image-text {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--white-color);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic-bazier);
}

.content-card:hover .content-card__image-text {
  transform: translateY(0);
}

.content-card__description {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.content-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.content-card__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/* Модалка */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  transition: opacity 500ms, visibility 500ms var(--cubic-bazier);
  overflow-y: scroll;
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: scale(0.75) rotate(180deg) translate(100%);
}

.modal {
  position: relative;
  padding: 40px;
  transform: scale(1) rotate(0);
  transition: transform 500ms;
  background-color: var(--white-color);
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Форма в модалке */
.modal-text__details {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .modal-text__details {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__field:last-of-type {
  margin-bottom: 20px;
}

.modal-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  display: block;
  color: var(--secondary-color);
}

.modal-form__container {
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  cursor: pointer;
  transition: border 250ms var(--cubic-bazier);
}

.modal-form__input:focus {
  border: 1px solid var(--acent-color);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--acent-color);
}

.modal-form__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 11px;
  left: 12px;
  transition: fill 250ms var(--cubic-bazier);
}

.modal-form__text {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.modal-form__text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__policy {
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

@media screen and (min-width: 1200px) {
  .modal-form__policy {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.modal-form__item-check {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.modal-form__check:checked + .modal-form__item-check {
  background-color: var(--acent-color);
  border: none;
}

.modal-form__check-icon {
  fill: var(--white-color);
}

.modal-form__contract {
  margin-left: 5px;
  color: var(--acent-color);
}

.send-btn.active {
  width: 200px;
  height: 50px;
  display: block;
  margin: 30px auto 0 auto;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */